<div class='small-container center-block'>
    <%= form_with(model: @user, local: true) do |u| %>
        <div class='field'>
            <%= u.label :tipo %>
            <div>
                <label> Natural <%= u.radio_button :tipo, "Natural"%> </label>
                <label> Juridica <%= u.radio_button :tipo, "Juridica"%> </label>
            </div>
        </div>
        <div class='field'>
            <%= u.label :identificacion %>
            <%= u.text_field :identificacion%>
            <%= u.label "Fecha de emision" %>
            <%= u.date_field :emision_id%>
            <%= u.label "Fecha de vencimiento" %>
            <%= u.date_field :venc_id%>
        </div>
        <div class='field'>
            <%= u.label :nombre %>
            <%= u.text_field :nombre %>
        </div>    
        <div class='field'>
            <%= u.label :correo %>
            <%= u.email_field :correo %>
        </div>
        <div class='field'>
            <%= u.label "Telefono Principal" %>
            <%= u.telephone_field :tlf_prin %>
            <%= u.label "Telefono Secundario (Opcional)" %>
            <%= u.telephone_field :tlf_sec %>
        </div>
        <div class='field'>
            <%= u.submit %>
        </div>
    <%end%> 
</div>